body{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to bottom, #303F60 40%, #EDF6FF 0%);
    height:100vh;
    text-align:center;
    color:#fff;
}
.homeInsideContent{
    display: flex;
}
.homepageHeading{
     margin-top: 10%;
     margin-left: 5%;
}
#getStartedButton{
  background-color: #43AFFF;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.loginSignUp{
    background-color: #303F60;
    border: 1px solid #43AFFF;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    cursor: pointer;
}
.headingText{
   height: 10%;
   float:  left;
   margin-left: 4%;
   margin-top: 2%;
   color: white;
}
.loginCard, .SignUpCard, .postJobform{
    background-color : #EDF6FF;
    color: black;
    padding: 2%;
    width: 30%;
    margin: 8%;
    margin-left: 35%;
    border-radius: 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #EDF6FF;
  border-radius: 4px;
  box-sizing: border-box;
}
label{
    float: left;
}
.errorfield{
    font-size: 12px;
    float: left;
    color: red;
}
.submit{
    background-color: #43AFFF;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#cardEndText{
    margin-top: 10%;
    text-align: center;
}
#newtoJobs{
    color: #43AFFF;
    text-decoration: none;
}
#candidate, #recuriter{
    height: 30px;
    width: 30%;
    border: none;
    margin-bottom: 1%;
    cursor: pointer;
}
#candidate{
    background-color: #43AFFF;
}
#recuriter{
    background-color: #A9AFBC;
    margin-left: 2%;
}
.postJob{
    background-color: #43AFFF;
    height: 30px;
    width: 8%;
    margin: 25%;
    margin-left: 35%;
    border: none;
}
.allJobCard{
    margin-top: 10%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.jobCard{
    border-radius: 5%;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    transition: 0.3s;
    width: 15%;
    margin: 1%;
    background-color: #A9AFBC;
    display: flex;
    flex-direction: column;
}
.jobCard >h4{
  color: black;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  float: left;
  margin-left: 0%;
}
#viewApplication{
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: #EDF6FF;
  border: 1px solid gray-light;
  color: gray-dark;
  border: none;
  padding: 0.5rem;
  display: block;
  width: 80%;
  margin: 10%;
  float: center;
  bottom:0;
}
.appliedORAll{
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    background-color: #43AFFF;
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    border: none;
    cursor: pointer;
}

.modal {
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }